<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <%= title %>
  </header>
  <h1>Welcome to Raptor Events
  </h1>
  <p>Proceed to bookings CRUD demo
    <a href="users">Bookings</a>
  </p>
</body>

</html>