<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <%= title %>
  </hheader>
  <p>Welcome to Raptor Events
  </p>
  <p>Proceed to users CRUD demo
    <a href="users">users</a>
  </p>
</body>

</html>