<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5963ba91b11be18da82fb780/t/5a84fcdcec212d9c3300e7dc/favicon.ico">
<body>
  <header>
    <%= title %>
  </header>
  <h1>Welcome to Raptor Events
    <img src="banner_picture.jpg" alt="banner picture" class="center">
  </h1>
  <p class="text-center">Proceed to bookings CRUD
    <a href="users">demo</a>
  </p>
</body>

</html>