body {
  font-size: 17px;
  background: #f4f4f4;
  line-height: 1.5em;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 10px;
}
th {
  padding: 12px;
}
td {
  padding: 12px;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
#orange{
  margin: 5px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid orange;
  color: gold;
}
#banner {
  height: 50px;
  width: 100%;
  background-color: dodgerblue;
  margin: 0;
  display:inline-block;
}