body {
  font-size: 17px;
  background: #f4f4f4;
  line-height: 1.5em;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 10px;
  font-size: 2em;
}
th {
  padding: 11px;
}
td {
  padding: 11px;
}
.td--special {
  width: 200px
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
.text-center {
  text-align: center;
  font-size: 22px;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
#orange{
  margin: 5px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid orange;
  color: gold;
}

#greenBackground {
  background-color: #e0f5ee;
}

#banner {
  height: 50px;
  width: 100%;
  background-color: dodgerblue;
  margin: 0;
  color: white;

}
table {
  width: 70%;
}