body {
  font-size: 17px;
  background: #f4f4f4;
  line-height: 1.5em;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 10px;
  font-size: 2em;
}
th {
  padding: 11px;
}
td {
  padding: 11px;
}
.td--special {
  width: 200px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 10px;
}
.text-center {
  text-align: center;
  font-size: 22px;
}

button {
  padding: 3px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: initial;
  padding: 3px; 
}

#container {
  padding-top: 10px;
  padding-left: 10px;
}

#orange{
  background-color: white;
    color: orange;
    margin: 5px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    border-image: initial;
}
#blue {
  background-color: white;
    color: blue;
    margin: 5px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-image: initial;
}

#red {
  background-color: white;
    color: red;
    margin: 5px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
}

#greenBackground {
  background-color: #e0f5ee;
}

#banner {
  height: 50px;

  width: 100%;
  background-color: dodgerblue;
  margin: 0;
  color: white;

}
#tableIndex {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}