<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create a Booking</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5963ba91b11be18da82fb780/t/5a84fcdcec212d9c3300e7dc/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"</script>
  <script type="text/javascript" src="/javascripts/create_user.js"></script>
</head>

<script>  function nameValidation(){
    var a = document.forms["dataform"]["name"].value;
    var namesequence = /^[a-zA-Z]*$/;

    if(namesequence.test(a) == false){
        alert("name must be alphabetical");
        return false;}

    function phoneValidation(){
      var x = document.forms["dataform"]["phoneNumber"].value;
      var phonesequence = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/;
      if(phonesequence.test(x) == false){
        alert("Phone number must be 10 digits long and cannot start with 0 or 1");
        return false;

    }
    function pageComplete(){
    var a = document.forms["dataform"]["name"].value;
    var b = document.forms["dataform"]["organization"].value;
    var c = document.forms["dataform"]["payment"].value;
    var x = document.forms["dataform"]["phoneNumber"].value;

    if(a == ""){
        alert("contact name must be filled out");
        window.location.reload();}
        if(b == ""){
        alert("organization must be filled out");
        window.location.reload()}
      if(c == ""){
        alert("payment must be filled out");
        window.location.reload()}
      if(x == ""){
        alert("phoneNumber must be filled out");
        window.location.reload()}
    }}}</script>

<body id="greenBackground">
  <h3>
    <a href="/users" class="button btn btn-outline-primary"><i class="fa fa-home"></i>Back to Booking List</a>
  </h3>
  <h1>Create New Booking</h1>
  <table>
    <form action="" name="dataform">
    <tbody>
      <tr>
        <td>Contact Name</td>
        <td>
          <input type="text" name="name" onfocusout="nameValidation()" required />
        </td>
      </tr>
      <td>Organization</td>
      <td>
        <input type="text" name="organization" required/>
      </td>
    </tr>
      <tr>
        <td>Contact Phone Number</td>
        <td>
          <input type="number" name="phoneNumber" placeholder="10 digits" onfocusout="phoneValidation()" required />
        </td>
      </tr>
      <tr>
      <tr>
        <td>Payment</td>
        <td>
          <input type="number" name="payment" required />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="createButton" onclick="pagecomplete()"><a href="https://shielded-journey-79042.herokuapp.com/users">Create Booking</a></button>
        </td>
      </tr>
    </tbody>
  </form>
  </table>
</body>

</html>