<!DOCTYPE html>
<html>

<head>
  <title>Booking Details</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5963ba91b11be18da82fb780/t/5a84fcdcec212d9c3300e7dc/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5963ba91b11be18da82fb780/t/5a84fcdcec212d9c3300e7dc/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/edit_user.js"></script>
</head>

<body id="greenBackground">
  <div class="container">
    <h3>
      <a href="/users">Booking List</a>
    </h3>
    <h1>Booking Details</h1>

    <table>
            <tbody>
              <tr>
                <td class='td--special'>Contact Name</td>
                <td>
                    <%= user.name%>
                </td>
              </tr>
                <tr>
                <td class='td--special'>Organization</td>
                <td>
                    <%= user.organization%>
                </td>
              </tr>
              <tr>
                <td class='td--special'>Contact Phone Number</td>
                <td>
                <%= user.phoneNumber%>
                </td>
              </tr>
              <tr>
                <td>Payment</td>
                <td>
                  <%=user.payment%>
                </td>
              </tr>
            </tbody>
          </table>

        <tr>
          <td colspan="2">
            <button><a href="https://shielded-journey-79042.herokuapp.com/users">OK</a></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>